@using FitFox.Web.ViewModels.Lesson
@model LessonSummaryViewModel
@{
	int correctAnswers = @Model.QuestionResults.Where(s => s.IsCorrect == true).Count();
	int totalAnswers = Model.QuestionResults.Count;
}

@if (!Model.HasPassed)
{
	<h1 class ="lesson-results">Lesson failed!</h1>
}
else
{
	<h1 class="lesson-results">Lesson passed!</h1>
}
<h2 class="lesson-score">Score - @correctAnswers / @totalAnswers</h2>
<div class="d-flex justify-content-center my-3">
	<div class="dropdown my-3">
		<button class="btn btn-primary dropdown-toggle" type="button" id="resultsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
			View Test Results
		</button>

		<ul class="dropdown-menu dropdown-menu-center" aria-labelledby="resultsDropdown" style="min-width: 40em;">
			@foreach (var qr in Model.QuestionResults)
			{
				if (qr.IsCorrect)
				{
					<li><strong>@qr.QuestionTitle</strong> — <span class="text-success">@qr.SelectedAnswer ✅</span></li>
				}
				else
				{
					<li><strong>@qr.QuestionTitle</strong> — <span class="text-danger">@qr.SelectedAnswer ❌</span></li>
				}
			}
		</ul>
	</div>
</div>
@if (Model.HasLeveledUp)
{
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			alert("🔥 Congrats! You leveled up!");
		});
	</script>
}
